
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

.body-text{

}

.body-text__img-standard{
    margin: 0 auto;
    width: 50%;
}

.body-text__header{
    margin-top:100px;
}

.body-text__list-more{
    width: 40%;
}

.body-text__table{
    width: 80%;
    margin: 0 auto;
}

.body-text__span-italic{
    font-style: italic;
}

.spacer{
    margin-bottom: 200px;
}